*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  margin: auto auto;
  grid-template-columns: 711px 399px;
  grid-template-rows: 1;
  width: 1140px;
  height: 534px;
  gap: 30px;
}

.search-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 54px;
  justify-content: space-between;
  gap: 40px;
}

.content__details {
  height: 100%;
  width: 100%;
}
.title {
  margin-bottom: 26px;
}
.content__list-container {
  height: 298px;
  overflow-y: auto;
  position: relative;
}

.result {
  height: 456px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-self: flex-end;
}

.result__video-container {
  width: 100%;
  height: 386px;
  margin-bottom: 16px;
  align-self: flex-end;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
  align-self: flex-end;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
  cursor: pointer;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description {
  line-clamp: 4;
  font-family: Fira Sans Condensed;
  font-weight: normal;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
}

.content__video-card:hover .content__video-card-description,
.content__video-card:hover .content__video-card-title {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__fieldset {
  border: none;
}

.button {
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  background-color: transparent;
  color: #fff;
  border: 1px #fff solid;
}

.button:active {
  background-color: #545050;
}
.button:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 5px;
}
.title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.title .content__accent {
  color: #545050;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 196px;
  margin-bottom: 6px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__textfield {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffffb2;
  border-top: 1px solid #fff;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  width: 225px;
  border-radius: 0;
}

.search-form__textfield:active {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  outline: none;
  border-left: 1px #fff solid;
  border-right: 1px #fff solid;
}

.search-form__checkbox-list {
  width: 212px;
}

.content__card-link {
  text-decoration: none;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0%;
  color: #fff;
  display: block;
}

.more-button {
  width: 390px;
  height: 34px;
  margin: 30px auto 5px auto;
  padding-top: 6px;
  padding-bottom: 6px;
  display: block;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  background-color: transparent;
  border: 1px solid #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-form__pseudo-checkbox::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 15px;
  height: 15px;
  opacity: 0;
  cursor: pointer;
}

.search-form__label-text:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  cursor: pointer;
}

.content__list {
  padding: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.search-form__textfield:focus {
  outline: none;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}
